# **Курс "Програмування на мові Python"**

##### Викладачі:
##### Борисенко Павло Борисович
##### Щьоголєв Максим Олегович

## **Практичне зайняття №4**
### Тема: "Цикли. Робота зі списками"

### **Завдання 1 (1,5 бали)**

Продавець роздрібного товару влаштовує розпродаж. Для всіх товарів знижка однакова - 60%. Щоб вивісити нові цінники, продавець хоче скласти таблицю, в якій для кожного товару буде підрахована його нова вартість та сума знижки.

Написати програму, яка буде генерувати таку таблицю. Вартість одиниць товарів до розпродажу подано у списку products_list. 

1. Для підрахунку невідомих значень та їх виведення повинен використовуватись цикл.

2. Вартість з урахуванням знижки та суми знижок для кожного товару повинні зберігатись у двох окремих списках. Порядок товарів у нових списках повинен бути такий самий, як і в списку products_list.

3. Кожне підраховане числове значення має бути округлене до сотих. Для цього слід використати функцію round(). Приклад застосування цієї функції:

```
value_new = round(2.3741, 2)
print(value_new)
```

4. Дані повинні виводитись у вигляді:

**Discount table:**

**29.25 11.7 17.55**

**48.99 19.6 29.39**

**...**


products_list = [[29.25, 48.99, 99.98, 124.65, 214.30, 543.90, 799.85]]

In [4]:
products_list = [29.25, 48.99, 99.98, 124.65, 214.30, 543.90, 799.85]
discount_list=[round((float(i)/100)*40, 2) for i in products_list]
difference_list=[float(products_list[i]-discount_list[i]) for i in range(len(products_list))]
print('Discount table:')
for k in range(len(products_list)):
    print(products_list[k], discount_list[k], difference_list[k])

Discount table:
29.25 11.7 17.55
48.99 19.6 29.39
99.98 39.99 59.99
124.65 49.86 74.79
214.3 85.72 128.58
543.9 217.56 326.34
799.85 319.94 479.91

### **Завдання 2 (1,5 бали)**

Перелічуючи деякі предмети у тексті, ми ставимо між ними коми. В англійській мові слово and зазвичай ставлять між останнім та передостаннім словом у переліку (за виключенням випадку, коли у списку всього одне слово). Також в англійській мові прийнято ставити кому перед and (оксфордська кома), якщо в переліку більше двох найменувань. Розглянемо 4 приклади:

**apples**

**apples and oranges**

**apples, oranges, and bananas**

**apples, oranges, bananas, and lemons**

Напишіть програму, яка:

1. отримує на вхід перелік деяких предметів, які користувач вводить з клавіатури, та записує їх у список у вигляді окремих елементів;

2. виводить ці предмети у тій самій послідовності, в якій вони були введені, розставляючи коми та слово and так, як показано у прикладі.

In [22]:
i=1 
l=[]
while i==1:
    a=str(input('Введіть елемент (якщо ввести число від 0 до 9,цикл зупиниться):'))
    if a in "1234567890":
        i=0
        break 
    else:
        l.append(a)
if len(l)==1:
    print (''.join(l))
elif len(l)==2:
    l.insert(1," and ")
    print (''.join(l))
else:
    for i in range(1,len(l),2):
        l.insert(i, ', ')
    l.insert(len(l)-1, ', and ')
    print(''.join(l))

apple , orange' , jiucdg ,

In [ ]:
4